.pokemonCard {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  text-align: center;
  border: 1px solid var(--secondary-color);
  padding: 20px;
  font: var(--font-l);
  color: var(--primary-color);
  border-radius: 2rem;

  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}

.types {
  color: var(--secondary-color);
  font: var(--font-m);
}