.pokemonCard {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  text-align: center;
  border: 1px solid var(--secondary-color);
  padding: 20px;
  font: var(--font-l);
  color: var(--primary-color);
  border-radius: 2rem;
}

.types {
  color: var(--secondary-color);
  font: var(--font-m);
}