.mainPage {
  padding-top: calc(1.5 * var(--navbar-height));
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  min-height: 100vh;
}

.pokemonList {
  flex-grow: 1;
}
