.pokemonPage {
  padding-top: calc(1.5 * var(--navbar-height));
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  gap: 2rem;
  padding-bottom: 2rem;
}

.pokemonPage > h1 {
  color: var(--primary-color);
  text-align: center;
}

.images {
  width: 80%;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.images > h2 {
  color: var(--primary-color);
  grid-column: 1/-1;
}

.images img {
  width: 80%;
  justify-self: center;
  align-self: center;
  border: 1px solid var(--secondary-color);
  border-radius: 2rem;
}

.image {
  justify-self: center;
}

.pokemonLook {
  width: 80%;
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  align-items: center;
}

.pokemonLook span {
  display: flex;
  flex-direction: column;
}

.stats {
  text-align: center;
  width: 80%;
  display: grid;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.stats > h2 {
  color: var(--primary-color);
  grid-column: 1/-1;
}

.stat {
  justify-self: center;
  align-self: center;
}

.abilities {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  align-items: center;
  justify-content: space-around;
}

.abilities > h2 {
  color: var(--primary-color);
  flex-basis: 100%;
  text-align: center;
}

.abilityName {
  text-align: center;
}

.ability {
  display: flex;
  align-self: start;
  text-align: justify;
  flex-direction: column;
  width: 40%;
  gap: 1rem;
}

.nextLink,
.prevLink {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}


.prevLink {
  transform: rotate(180deg);
  left: 1rem;
}

.nextLink {
  right: 1rem;
}

.prev,
.next {
  width: 40px;
  height: 40px;
}
