.error {
  display: flex;
  min-height: calc(100vh - var(--footer-height));
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.reloadButton {
  background: var(--bg-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  padding: 10px;
  border-radius: 10px;
}